<div class="animate card mb-5">
    <div class="card-content">
        <h3 class="title is-4">About me</h3>
        <div class="content">
            I am a .Net Developer from Malaysia. I have first started coding with JavaScript during my high school and it grew to become passion and now my career.
        </div>
    </div>
</div>