<div class="columns has-same-height">
    <div class="column is-flex">
        <GitHubRepositoryCard Repository="mingyaulee/Blazor.BrowserExtension" />
    </div>
    <div class="column is-flex">
        <GitHubRepositoryCard Repository="mingyaulee/WebExtensions.Net" />
    </div>
</div>
<div class="columns has-same-height">
    <div class="column is-flex">
        <GitHubRepositoryCard Repository="mingyaulee/JsBind.Net" />
    </div>
    <div class="column is-flex">
        <GitHubRepositoryCard Repository="mingyaulee/Blazor.Node" />
    </div>
</div>
