<nav class="navbar is-link is-fixed-top">
    <div class="navbar-brand">
        <div class="navbar-burger burger has-background-link" @onclick="ToggleNavBar">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu @(isActive ? "is-active" : "")">
        <div class="navbar-end">
            <a class="navbar-item" href="./" @onclick=ToggleNavBar>
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
                <span>Home</span>
            </a>
            <a class="navbar-item" href="./timeline" @onclick=ToggleNavBar>
                <span class="icon">
                    <i class="fas fa-calendar-alt"></i>
                </span>
                <span>Timeline</span>
            </a>
        </div>
    </div>
</nav>

@code {
    bool isActive;
    void ToggleNavBar() => isActive = !isActive;
}